<div style="width:25%">
  <div class="form-group">
    <input [(ngModel)]="mid" class="form-control" placeholder="Member ID" required>
  </div>
  <button type="submit" (click)="getMemberBooks()" class="btn btn-primary">Signed out Books</button>
</div>
<table  class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Title</th>
      <th scope="col"> ISBN</th>
      <th scope="col"> Return</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{ book.bid }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.isbn }}</td>
      <td><button type="button" (click)="returnBook(book.bid,book.lid,book.lbsid)" class="btn btn-primary">Return</button></td>
    </tr>
  </tbody>
</table>